<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Аренда склада | Аренда, продажа, покупка складов и офисов в одном месте от компании Складов</title>
    <meta name="keywords" content="склад аренда снять" />
    <!---->
    <meta name="description" content="Аренда склада. складских и офисных помещений от Складов. Склады и офисы сдаваемые в аренду. Самая большая база складов в Москве и Московской области" />
    <!---->


    <meta name='yandex-verification' content='5c6c68c67cb1b959' />
    <script src="../inline.js"></script>




    <link rel="stylesheet" type="text/css" href="/assets/templates/v1.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />







    <meta name="google-site-verification" content="WwQ5PN02ZnEsP7NAw4g0VsqxKgx-lGt8zx9BZqG2UwQ" />
</head>
<body>
<header id="header">
    <div class="wrap">
        <div class="head_right">
            <div data-container="var_phone">
                <a href="tel:+74952262215" class="phone">+7 (495) 226-22-15</a>
            </div>
            <form id="poisk" action="find.html" method="post" style="width: initial;">
                <input type="text" name="search" placeholder="Номер объекта или фраза">
                <input class="search" type="submit" value="Найти!">
            </form>
        </div>
        <div data-container="array_catalogies" class="absolute_block">
            <a href="/towns/" class="shoce towns"><span>Поиск по городам МО</span></a>
            <a href="/highways/" class="shoce"><span>Поиск по шоссе</span></a>
            <a href="/districts/" class="distr"><span>Поиск по району</span></a>
        </div>
        <div id="blok_logo">
            <a class="logo" href="/"></a>
        </div>
        <nav>
            <ul id="ajaxmenu" class="top_nav">
                <ul data-container="array_menu" class="box">
                    <li>
                        <a href="/">Главная
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="ostavit_zayavku/">Оставить заявку
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="kontakti.html">Контакты
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="vakansii.html">Вакансии
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="tovars/">Объекты
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="stati/">Статьи
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="build-to-suit.html">BTS
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                </ul>

            </ul>
        </nav>
        <button class="hamburger mobile">☰</button>
        <button class="cross mobile hidden">˟</button>
        <div class="mobile_menu mobile hidden">
            <ul>
                <ul data-container="array_menu" class="box">
                    <li>
                        <a href="/">Главная
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="ostavit_zayavku/">Оставить заявку
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="kontakti.html">Контакты
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="vakansii.html">Вакансии
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="tovars/">Объекты
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="stati/">Статьи
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                    <li>
                        <a href="build-to-suit.html">BTS
                            <span class="tab-l"></span><span class="tab-r"></span></a></li>
                </ul>
                <div data-container="array_categories" class="box">
                    <a href="/towns/">Поиск по городам МО</a>
                    <a href="/highways/">Поиск по шоссе</a>
                    <a href="/districts/">Поиск по району</a>
                </div>
            </ul>
        </div>
    </div>
</header>
