<div class="wrap link__head">
    <nav>
        <div style="float:left; margin-right:40px; margin-left:230px;">
            <ul class="box" style="height:102px;">
                <li><a href="arenda-sklada/kupit-sklad.html">Купить склад</a></li>
                <li><a href="prodazha-kommercheskoj-nedvizhimosti.html">Продажа склада</a></li>
                <li><a href="arenda-sklada/otvetstvennoe-hranenie.html">Склады ответственного хранения</a></li>
                <li><a href="arenda-sklada-v-moskve/">Склад в Москве</a></li>
                <li><a href="sklady-v-moskovskoj-oblasti.html">Склад в Московской области</a></li>
            </ul>
        </div>
        <div style="float:left; margin-right:40px">
            <ul class="box" style="height:102px;">
                <li><a href="arenda-sklada/arenda-sklada-ot-sobstvennika.html">Склад от собственника</a></li>
                <li><a href="arenda-sklada/teplyi-sklad.html">Теплый склад</a></li>
                <li><a href="arenda-sklada/holodnyi-sklad.html">Холодный склад</a></li>
                <li><a href="arenda-sklada/sklad-do-1000m.html">Склад до 1000м.</a></li>
                <li><a href="arenda-sklada/farmacevticheskij-sklad.html">Фармацевтический склад</a></li>
            </ul>
        </div>
    </nav>
    <br class="clear">
    <div class="clear"></div>
</div>