<article class="main">
    <!--<p align="right"><a href="stati/" title="все статьи о коммерческой недвижимости" >все статьи</a></p>-->
    <div class="rez_title">
        <h1>Страхование складов</h1>
    </div>
    <p>В сфере складского хранения и логистических услуг все актуальнее стоят вопросы страхования. Первое место рейтинга страховых услуг занимает страховка логистических и складских комплексов – от самого строения до стеллажей.</p>
    <p>Склады могут подвергаться различным видам ущерба, например:</p>
    <ul>
        <li>Повреждение любых видов коммуникаций.</li>
        <li>Крыши и потолков.</li>
        <li>Колонн и стен.</li>
        <li>Пола.</li>
        <li>Теплоизоляции и других видов обшивки и отделки и т.д.</li>
    </ul>
    <p>Наиболее опасным выступает риск возникновения пожара, так как огонь наносит наибольший ущерб не только пламенем, но и продуктами горения. Страховкой от пожара пренебрегать ни в коем случае не следует.</p>
    <p>Второе место в рейтинге занимают услуги страхования оборудования и техники, которое может быть украдено или сломано.</p>
    <p>В случае с ответственным хранением необходимо страховать ответственность оператора перед поклажедателем на случай различных форс-мажорных ситуаций и обстоятельств, например, тех же пожаров, взрывов, краж, падения пилотируемых летательных средств, стихийных бедствий и т.д.</p>
    <p>Обратите внимание, неквалифицированные действия персонала, которые приводят к порче товара не могут быть поводом для выплаты компенсации. Таковая должна быть истребована со складского оператора.</p>
    <p>В принципе, можно застраховать и случаи несоблюдения или нарушения режима хранения товара, а также потерю товарного вида, но подобные страховки будут накладывать множество серьезных ограничений.</p>
    <h2>Суммы и потери</h2>
    <p>Страховая сумма напрямую зависит от реальной стоимости имущества. В случае зданий, сооружений и оборудования она равняется стоимости их замещения (при наличии обстоятельств непреодолимой силы). Расходы на износ и амортизацию не являются страховыми случаями. Страховая сумма товарных запасов равняется их первоначальной стоимости.</p>
    <p>Черная бухгалтерия всегда выступает негативным фактором при страховании. Из-за непрозрачных схем, в отчетности отображается не все имущество, что в итоге может привести к убыткам из-за «недострахования».</p>
    <p>Также на стоимость полиса влияет качество и соответствие систем безопасности, указанных в номенклатуре грузов, хранимых на складе.</p>
    <p>Рынок страховых услуг развивается теми же темпами, что и логистический рынок. Эта тенденция уже ведет к конкуренции и снижению тарифов на услуги. Как показывает мировой опыт, привлечение страховых договоров в логистико-складскую сферу – оправданный и дальновидный шаг.</p>
</article>