<article class="main">
    <div class="rez_title">
        <h1>Передвижные электростанции: назначение и преимущества</h1>
    </div>
    <p>Иногда возникают чрезвычайные ситуации, когда необходимо обеспечение автономным электропитанием. Для этого используются передвижные электростанции — ПЭС. Они нужны для энергоснабжения на удалённых объектах (вахтовых посёлках, геологоразведывательных экспедициях, буровых установках и т. п.), а также во время различных чрезвычайных ситуаций: аварий на линиях электропередач, при ремонтно-восстановительных работах. Такое оборудование применяется при строительстве или ремонте автодорог и железнодорожных путей, в сельском и лесном хозяйстве, на стройплощадках, в отдалённых населённых пунктах и т. п. Мобильные электростанции можно использовать как резервный, так и основной источник электроэнергии.</p>
    <h2>Плюсы передвижных электростанций</h2>
    <p>Особенностью ПЭС является удобство транспортировки. Такие установки могут размещаться на шасси разных видов (автомобильном, тракторном и т. п.), полозьях, баржах, железнодорожных платформах и т. п. Передвижные электростанции выпускаются в таких вариантах: в блок-контейнере, в капоте на одноосном или двухосном шасси, в кунге, на салазках (для северных регионов). Их мощность бывает от 5 до 600 кВт в зависимости от назначения.</p>
    <ul>Передвижные электростанции обладают такими достоинствами:</ul>
    <ul>
        <li>удобство при транспортировке;</li>
        <li>готовность ПЭС к эксплуатации;</li>
        <li>не нужна площадка для установки и фундамент;</li>
        <li>прочная, надёжная конструкция;</li>
        <li>быстрое согласование в контролирующих органах;</li>
        <li>безопасность при эксплуатации — вандалоустойчивость, пожарная безопасность, шумопоглощение;</li>
        <li>продолжительный срок эксплуатации;</li>
        <li>возможность дистанционного управления работой мобильной электростанции.</li>
    </ul>
    <p>ПЭС комплектуются надёжными пультами управления, где расположены все необходимые приборы и датчики для контроля параметров работы. Благодаря жёстким силовым каркасам мобильные электростанции могут передвигаться от одного объекта к другому и длительное время работать в любых условиях.</p>
</article>