<li>
    <div class="card_wrapper">
        <div class="title">
            <div style="margin: 0px; padding: 0px; border: 0px;">Демо карточка 1
            </div>
        </div>

        <a href="/akula/catalog/?itemId=1"><img alt="" src=""></a>
        <span class="z_id">1</span>
        <p>Район: <span class="bold">Нет данных</span></p>
        <p>Цена за метр в, руб.: <span class="bold">Нет данных</span></p>
        <p>Общая площадь: <span class="bold">Нет данных</span></p></div>
    <a href="#" class="zajavka">Оставить заявку</a><a href="/akula/catalog/?itemId=1" class="more">Подробнее&gt;&gt;</a>
    <p class="clear"></p>
</li>


<!-каркас нижнего слайдера с элементами внутри-!>

<div id="slider1">

    <div class="viewport">

        <ul class="overview" style="width: 1554px; left: 0px;">


            <li>
                <div class="card_wrapper">
                    <div class="title"><div style="margin: 0px; padding: 0px; border: 0px;">Демо карточка 2
                    </div></div>

                    <a href="/akula/catalog/?itemId=2"><img alt="" src=""></a>

                    <span class="z_id">2</span>
                    <p>Район: <span class="bold">Нет данных</span></p>
                    <p>Цена за метр в, руб.: <span class="bold">Нет данных</span></p>
                    <p>Общая площадь: <span class="bold">Нет данных</span></p></div>
                <a href="#" class="zajavka">Оставить заявку</a><a href="/akula/catalog/?itemId=2" class="more">Подробнее&gt;&gt;</a>
                <p class="clear"></p></li>
            <li>
                <div class="card_wrapper">
                    <div class="title"><div style="margin: 0px; padding: 0px; border: 0px;">Демо карточка 3
                    </div></div>

                    <a href="/akula/catalog/?itemId=3"><img alt="" src=""></a>

                    <span class="z_id">3</span>
                    <p>Район: <span class="bold">Нет данных</span></p>
                    <p>Цена за метр в, руб.: <span class="bold">Нет данных</span></p>
                    <p>Общая площадь: <span class="bold">Нет данных</span></p></div>
                <a href="#" class="zajavka">Оставить заявку</a><a href="/akula/catalog/?itemId=3" class="more">Подробнее&gt;&gt;</a>
                <p class="clear"></p></li>
            <p class="clear"></p>
            <p class="clear"></p>
            <style>
                #slider1 .viewport {
                    height: 595px
                }
            </style>


        </ul>

    </div>
    <!--/noindex-->

    <!--paper-->
    <ul class="pager">
        <li><a rel="0" class="pagenum active" href="#"></a></li>
        <li><a rel="1" class="pagenum" href="#"></a></li>
        <li><a rel="2" class="pagenum" href="#"></a></li>
    </ul>
    <!--grey-->

</div>