<li>
    <div class="card_wrapper">
        <div class="title">
            <div title="Аренда склада для хранения алкоголя, транспортной компании">Аренда склада для хра...</div>
        </div>
        <div class="eks">Эксклюзив</div>

        <a title="Аренда склада для хранения алкоголя, транспортной компании"
           href="tovary/arenda-sklada-dlya-hraneniya-alkogolya-transportnoj-kompanii.html" class="img"><img
                title="Аренда склада для хранения алкоголя, транспортной компании"
                src="https://sklad-ofis.ru/assets/images/watermark_cache/43f8b929472f38bd5fe0bda9ea14576a-191-113.jpg"></a>
        <span class="z_id">1747</span>
        <div class="nocom">Без комиссии</div>
        <p>Район: <span class="bold green">СЗАО Москва</span></p>
        <p>Цена за метр в, руб.: <span class="bold green">6100</span></p>
        <p>Общая площадь: <span class="bold green">от 3000 до 6000 кв. м</span></p>
    </div>
    <a title="Аренда склада для хранения алкоголя, транспортной компании" href="ostavit_zayavku/" class="zajavka">Оставить
        заявку</a>
    <a title="Аренда склада для хранения алкоголя, транспортной компании"
       href="tovary/arenda-sklada-dlya-hraneniya-alkogolya-transportnoj-kompanii.html"
       class="more">Подробнее&gt;&gt;</a>

    <div class="clear"></div>
</li>