<!-элемент слайдера-->

<div class="slaid">
    <p class="lft">
        <span>Заголовок баннера 1</span>
        <span><i>Описание баннера 1</i></span>
    </p>
    <a href="/akula/catalog"
       class="more">Смотреть далее</a>
    <img src="" alt="">
</div>
<!-каркас слайдера с элементами внутри ->

<div id="slides">
    <div class="slides_container">
        <div class="slaid">
            <p class="lft">
                <span>Заголовок баннера 1</span>
                <span><i>Описание баннера 1</i></span>
            </p>
            <a href="/akula/catalog"
               class="more">Смотреть далее</a>
            <img src="" alt="">
        </div>
        <div class="slaid">
            <p class="lft">
                <span>Заголовок баннера 2</span>
                <span><i>Описание баннера 2</i></span>
            </p>
            <a href="/akula/catalog"
               class="more">Смотреть далее</a>
            <img src="" alt="">
        </div>
        <div class="slaid">
            <p class="lft">
                <span>Заголовок баннера 3</span>
                <span><i>Описание баннера 3</i></span>
            </p>
            <a href="/akula/catalog"
               class="more">Смотреть далее</a>
            <img src="" alt="">
        </div>

    </div>
    <a href="#" class="prev"></a>
    <a href="#" class="next"></a>
</div>