<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<title>Статьи</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:image" content="img/repost.png">
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
</head>
<body>

<header>
	<div class="header">
		<div class="filter">
			<a href="#">Поиск по району</a>
			<a href="#">Поиск по шоссу</a>
			<a href="#">Поиск по городам МО</a>
		</div>

		<div class="header-content">
			<div class="header-logo"><a href="index.html"><img src="img/logo.png"></a></div>

			<div class="header-tel"><a href="tel:+74952262215">+7 (495) 226-22-15</a></div>

			<div class="header-search">
				<input class="input-search" type="search" placeholder="Номер объекта или фраза">
				<input class="input-submit" type="submit" value="">
			</div>
		</div>

		<a class="menu-burger" href="#menu"><img src="img/icons/menu.svg"> Меню</a>

		<ul class="menu" id="menu">
			<li><a href="index.html">Главная</a></li>
			<li><a href="/ostavit_zayavku/">Оставить заявку</a></li>
			<li><a href="/kontakti.html">Контакты</a></li>
			<li><a href="/vakansii.html">Вакансии</a></li>
			<li><a href="/tovars/">Объекты</a></li>
			<li><a href="/stati/">Статьи</a></li>
			<li><a href="/build-to-suit.html">BTS</a></li>
		</ul>
	</div>
</header>

<section class="empty-block"></section>

<section> 
	<div class="slider">
		<div class="swiper-container slider">
		    <div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА, ПЛОЩАДЬ В АРЕНДУ ДО 15000 КВ.М.</p>
						<p><i>Ленинградское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
		    </div>
		    <div class="swiper-pagination"></div>
		    <!-- Add Arrows -->
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
		</div>
	</div>
</section>

<section> 
	<ul class="link">
		<li><a href="/arenda-sklada/kupit-sklad.html">Купить склад</a></li>
		<li><a href="/tovars/">Продажа склада</a></li>
		<li><a href="/arenda-sklada/otvetstvennoe-hranenie.html">Склады ответственного хранения</a></li>
		<li><a href="/arenda-sklada-v-moskve/">Склад в Москве</a></li>
    	<li><a href="/tovars/">Склад в Московской области</a></li>
    	<li><a href="/arenda-sklada/arenda-sklada-ot-sobstvennika.html">Склад от собственника</a></li>
    	<li><a href="/arenda-sklada/teplyi-sklad.html">Теплый склад</a></li>
    	<li><a href="/arenda-sklada/holodnyi-sklad.html">Холодный склад</a></li>
    	<li><a href="/arenda-sklada/sklad-do-1000m.html">Склад до 1000м.</a></li>
    	<li><a href="/arenda-sklada/farmacevticheskij-sklad.html">Фармацевтический склад</a></li>
    </ul>
</section>

<section class="bg-white">
	<div class="breadcrumbs">
		<div class="breadcrumbs-block">
			<a href="#">Главная</a> > <span>Статьи</span>
		</div>
	</div>
</section>

<section>
	<div class="articles-special">
		<div class="articles bg-white">
			<div class="title">
				<h1>Статьи</h1>
			</div>

			<ul>
				<li><a href="#">Анализ рынка коммерческой недвижимости в 2013 году</a></li>
				<li><a href="#">В стране кризис. Как повысить доход от сдачи коммерческой недвижимости?</a></li>
				<li><a href="#">Страхование складов</a></li>
				<li><a href="#">Склад в аренду: как выбрать складское помещение?</a></li>
				<li><a href="#">Выбор участка под застройку: что нужно знать при покупке?</a></li>
				<li><a href="#">Коммерческая недвижимость: налог на владение</a></li>
				<li><a href="#">Инвестиции в элитную недвижимость на Черноморском побережье Кавказа</a></li>
				<li><a href="#">Инвестирование в коммерческую недвижимость –гарантия дохода</a></li>
			</ul>

			<div class="title">
				<h2>Ответы на вопросы</h2>
			</div>

			<ul>
				<li><a href="#">Как выбрать коммерческую недвижимость?</a></li>
				<li><a href="#">Как выбрать склад?</a></li>
				<li><a href="#">Как заработать на коммерческой недвижимости?</a></li>
				<li><a href="#">Как лучше купить коммерческую недвижимость?</a></li>
				<li><a href="#">Как лучше сдать склад?</a></li>
				<li><a href="#">Как оформить коммерческую недвижимость?</a></li>
				<li><a href="#">Как продать коммерческую недвижимость?</a></li>
			</ul>
		</div>

		<div class="special">
			<div class="title">
				<h2><a href="#">Спецпредложения</a></h2>
			</div>

			<div class="special-block">
				<div class="special-title">
					<p>Аренда административно-складского комплекса класса «А» на северо-западе МО</p>
				</div>

				<div class="exclusive"></div>

				<div class="special-img"></div>

				<div class="nocommission"></div>

				<div class="special-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="special-block">
				<div class="special-title">
					<p>Аренда административно-складского комплекса класса «А» на северо-западе МО</p>
				</div>

				<div class="exclusive"></div>

				<div class="special-img"><img src="img/img.jpg"></div>

				<div class="nocommission"></div>

				<div class="special-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>
		</div>
	</div>	
</section>

<footer>
	<div class="footer">
		<div class="footer-top">
			<div class="metrika-box">
				<a href="https://metrika.yandex.ru/stat/?id=29424345&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/29424345/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:29424345,lang:'ru'});return false}catch(e){}"></a>
			</div>

			<div class="contacts">
				<div class="footer-tel"><a href="tel:+74952262215">+7 (495) 226-22-15</a></div>
				<div class="footer-email"><a href="mailto:arenda@sklad-ofis.ru">arenda@sklad-ofis.ru</a></div>
			</div>
		</div>

		<div class="footer-bot bg-white">
			<p>© 2008-2017 Все права защищены.</p>
			<p>Аренда склада от sklad-ofis.ru — склады в аренду на востоке Москвы, <a href="#">аренда склада в Москве</a>.</p>
			<p><a href="#">Карта сайта</a>.</p>
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>