<li>
    <div class='card_wrapper qwe'>
        <div class="title">Аренда открытой площадки 1000 кв.м., ЮВАО Москвы, около
            ТТК
        </div>

        <a href="tovary/arenda-otkrytoj-ploshhadki-1000-kv.m.-yuvao-moskvy-okolo-ttk.html">
            <img alt=""
                 src="https://sklad-ofis.ru/assets/images/watermark_cache/813bf119396fdd70af6128eb0ae7c7f6-246-110.jpg">
        </a>

        <span class='z_id'>2519</span>
        <p data-container="var_adress">
            Район: <span class='bold'>ЮВАО Москва</span>
        </p>
        <p data-container="var_cost">
            Цена за метр в, руб.: <span class='bold'>1800 в г.</span>
        </p>
        <p data-container="var_square" class="p--last-value">
            Общая площадь: <span class='bold'>1000 кв. м</span>
        </p>
    </div>
    <a href="ostavit_zayavku/" class="zajavka">
        Оставить заявку
    </a>
    <a href="tovary/arenda-otkrytoj-ploshhadki-1000-kv.m.-yuvao-moskvy-okolo-ttk.html" class="more">
        Подробнее>>
    </a>
    <p class="clear"></p>
</li>
