<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<title>Аренда склада | Аренда, продажа, покупка складов и офисов в одном месте от компании Складов</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:image" content="img/repost.png">
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
</head>
<body>

<header>
	<div class="header">
		<div class="filter">
			<a href="#">Поиск по району</a>
			<a href="#">Поиск по шоссу</a>
			<a href="#">Поиск по городам МО</a>
		</div>

		<div class="header-content">
			<div class="header-logo"><a href="index.html"><img src="img/logo.png"></a></div>

			<div class="header-tel"><a href="tel:+74952262215">+7 (495) 226-22-15</a></div>

			<div class="header-search">
				<input class="input-search" type="search" placeholder="Номер объекта или фраза">
				<input class="input-submit" type="submit" value="">
			</div>
		</div>

		<button class="menu-burger"><img src="img/icons/menu.svg"> Меню</button>

		<ul class="menu">
			<li><a href="index.html">Главная</a></li>
			<li><a href="/ostavit_zayavku/">Оставить заявку</a></li>
			<li><a href="/kontakti.html">Контакты</a></li>
			<li><a href="/vakansii.html">Вакансии</a></li>
			<li><a href="/tovars/">Объекты</a></li>
			<li><a href="/stati/">Статьи</a></li>
			<li><a href="/build-to-suit.html">BTS</a></li>
		</ul>
	</div>
</header>

<section class="empty-block"></section>

<section> 
	<div class="slider">
		<div class="swiper-container slider">
		    <div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА, ПЛОЩАДЬ В АРЕНДУ ДО 15000 КВ.М.</p>
						<p><i>Ленинградское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content">
						<p>АДМИНИСТРАТИВНО-СКЛАДСКОЙ КОМПЛЕКС «А» КЛАССА</p>
						<p><i>Варшавское шоссе, 10 км. от МКАД</i></p>
						<a class="slider-btn" href="#">Смотреть далее</a>
					</div>
				</div>
		    </div>
		    <div class="swiper-pagination"></div>
		    <!-- Add Arrows -->
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
		</div>
	</div>
</section>

<section> 
	<ul class="link">
		<li><a href="/arenda-sklada/kupit-sklad.html">Купить склад</a></li>
		<li><a href="/tovars/">Продажа склада</a></li>
		<li><a href="/arenda-sklada/otvetstvennoe-hranenie.html">Склады ответственного хранения</a></li>
		<li><a href="/arenda-sklada-v-moskve/">Склад в Москве</a></li>
    	<li><a href="/tovars/">Склад в Московской области</a></li>
    	<li><a href="/arenda-sklada/arenda-sklada-ot-sobstvennika.html">Склад от собственника</a></li>
    	<li><a href="/arenda-sklada/teplyi-sklad.html">Теплый склад</a></li>
    	<li><a href="/arenda-sklada/holodnyi-sklad.html">Холодный склад</a></li>
    	<li><a href="/arenda-sklada/sklad-do-1000m.html">Склад до 1000м.</a></li>
    	<li><a href="/arenda-sklada/farmacevticheskij-sklad.html">Фармацевтический склад</a></li>
    </ul>
</section>

<section>
	<div class="catalog-box bg-white">
		<div class="title-btn">
			<div class="title">
				<h2>ПОСЛЕДНИЕ ДОБАВЛЕННЫЕ ОБЪЕКТЫ</h2>
			</div>

			<div class="btn">
				<a class="btn-orange" href="#">Оставить заявку</a>
				<a class="btn-green" href="#"><img src="img/icons/plus.png">Добавить объект</a>
			</div>
		</div>

		<div class="catalog">
			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Каширское шоссе, в аренду теплый склад площадью 650 кв.м.</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Ленинградское шоссе, аренда неотапливаемого ангара площадью 300 кв.м.</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Новосходненское шоссе, в аренду отапливаемые складские помещения площадью 300 и 500 кв.м.</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Ленинградское шоссе, аренда неотапливаемого ангара площадью 300 кв.м.</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Новосходненское шоссе, в аренду отапливаемые складские помещения площадью 300 и 500 кв.м.</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>

			<div class="item">
				<div class="item-title">
					<p>Отапливаемое помещение под склад или производство</p>
				</div>

				<div class="item-img">
					<img src="img/img.jpg">
				</div>

				<div class="item-text">
					<p>Район: <strong>МО Юг</strong></p>
					<p>Цена за метр в, руб.: <strong>4500 в год</strong></p>
					<p>Общая площадь: <strong>1200 кв. м</strong></p>
				</div>

				<div class="item-btn">
					<a class="btn-bid" href="#">Оставить заявку</a>
					<a class="btn-info" href="#">Подробнее>></a>
				</div>
			</div>
		</div>

		<a class="btn-catalog" href="#">Посмотреть все объекты</a>
	</div>
</section>

<section class="bg-white">
	<div class="content">
		<div class="line"></div>

		<div class="title">
			<h1>АРЕНДА СКЛАДА</h1>
		</div>

		<div class="text">
			<p>Аренда склада ответственное дело, требующее тщательного подхода. Арендатору необходимо продумать и предусмотреть не только месторасположение и размеры склада, но и наличие подъездных путей к складскому помещению, систему отопления и наличие складского оборудования.</p>

			<p>Основное направление компании "Складов" - помощь в подборе складов, офисов, складских и офисных помещений предлагаемых в аренду. На сайте "Складов", представлена самая большая база помещений, находящихся в разных регионах города и Московской области. Благодаря, удобному фильтру, Вы сможете подобрать оптимальный вариант под необходимые Вам требования и критерии: расположение вблизи метро или шоссе, район Москвы, город в области, площадь складского или офисного объекта, класс, категория, стоимость аренды.</p>
		</div>

		<blockquote>
			<p><strong>Памятка для арендаторов складов</strong></p>
			<p>При выборе склада стоит помнить, что они делятся на категории: А, B,C, Д.<p>

			<ul>
				<li><p>К категории А относятся склады, в которых можно хранить продукцию любых типов. В них поддерживается особый температурный режим и необходимая влажность.</p></li>
				<li><p>Категория В подойдёт тем, кто хочет приобрести склад хорошего качества по приемлемой стоимости.</p></li>
				<li><p>Склады категории С предназначаются для продукции, не требующей определённых климатических условий.</p></li>
				<li><p>Склады и складские помещения категории Д – это не отапливаемые помещения, располагающиеся в технических зданиях.</p></li>
			</ul>
		</blockquote>

		<div class="title">
			<h2>ПРЕИМУЩЕСТВА АРЕНДЫ СКЛАДА</h2>
		</div>

		<div class="text">
			<p>К основным преимуществам аренды склада, складских помещений и офисов стоит отнести:</p>

			<ul>
				<li><p>возможность моментального использования склада для своих нужд, после заключения договора аренды;</p></li>
				<li><p>экономию средств на покупку складского оборудования;</p></li>
				<li><p>возможность сменить склад или офис, если вас перестанет устраивать его расположение.</p></li>
			</ul>
		</div>

		<div class="title">
			<h3>Преимущества аренды офиса у компании "Складов"</h3>
		</div>

		<div class="text">
			<p>Если вы собираетесь арендовать офис, то у вас будет иметься возможность выбрать помещение с хорошим и капитальным ремонтом и всем необходимым офисным оборудованием. Также среди выгодных предложений нашей компании, можно найти и офис с мебелью.</p>

			<p>На каком бы варианте вы не остановили свой выбор, вы будете удивлены большим выбором складов, офисов и складских помещений, приемлемыми ценами и выгодными условиями аренды, при сотрудничестве с нашей компанией.</p>
		</div>
	</div>
</section>

<footer>
	<div class="footer">
		<div class="footer-top">
			<div class="metrika-box">
				<a href="https://metrika.yandex.ru/stat/?id=29424345&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/29424345/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:29424345,lang:'ru'});return false}catch(e){}"></a>
			</div>

			<div class="contacts">
				<div class="footer-tel"><a href="tel:+74952262215">+7 (495) 226-22-15</a></div>
				<div class="footer-email"><a href="mailto:arenda@sklad-ofis.ru">arenda@sklad-ofis.ru</a></div>
			</div>
		</div>

		<div class="footer-bot bg-white">
			<p>© 2008-2017 Все права защищены.</p>
			<p>Аренда склада от sklad-ofis.ru — склады в аренду на востоке Москвы, <a href="#">аренда склада в Москве</a>.</p>
			<p><a href="#">Карта сайта</a>.</p>
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>