<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header id="header">
    <div class="wrap">
        <div class="head_right">
            <div data-container="var_phone">

            </div>
            <form id="poisk" action="find.html" method="post" style="width: initial;">
                <input type="text" name="search" placeholder="Номер объекта или фраза">
                <input class="search" type="submit" value="Найти!">
            </form>
        </div>
        <div data-container="array_catalogies" class="absolute_block">

        </div>
        <div id="blok_logo">
            <a class="logo" href="/"></a>
        </div>
        <nav>
            <ul id="ajaxmenu" class="top_nav">
                <ul data-container="array_menu" class="box">

                </ul>

            </ul>
        </nav>
        <button class="hamburger mobile">☰</button>
        <button class="cross mobile hidden">˟</button>
        <div class="mobile_menu mobile hidden">
            <ul>
                <ul data-container="array_menu" class="box">

                </ul>
                <div data-container="array_catalogies" class="box">

                </div>
            </ul>
        </div>
    </div>
</header>

<div class="wrap link__head">
    <nav>
        <div style="float:left; margin-right:40px; margin-left:230px;">
            <ul data-container="array_catalog-selection" data-limit="5" class="box" style="height:102px;">

            </ul>
        </div>
        <div style="float:left; margin-right:40px">
            <ul data-container="array_catalog-selection" data-offset="5"  data-limit="5" class="box" style="height:102px;">

            </ul>
        </div>
    </nav>
    <br class="clear">
    <div class="clear"></div>
</div>

<footer id="footer">
    <div class="wrap">
        <div class="foot_phone">
            <span class="email">
                <a href="mailto:arenda@sklad-ofis.ru">arenda@sklad-ofis.ru</a>
            </span>
            <div class="clear"></div>
            <span> 8 (495) 226-22-15</span>
        </div>
    </div>
    <div class="copy hidden">
    </div>
    <div>
        © 2008-2017 Все права защищены. <br>
        <b>Аренда склада</b>
        от sklad-ofis.ru —
        <a href="stoimost-kommercheskoj-nedvizhimosti/">цены на коммерческую недвижимость</a>,
        продажа коммерческой недвижимости в москве
        <p>
            <a href="karta-sajta.html" title="Карта сайта">Карта сайта</a>
        </p>
    </div>
</footer>
</body>
</html>